@font-face { font-family: Rosie; src: url('../fonts/childline/Rosie/rosie-regular-webfont.woff2'); }
@font-face { font-family: childline-bold; src: url('../fonts/childline/Childline/ChildlineWeb/ChildlineWeb-Bold.otf'); }

/* Pallet RGB
rgba(0, 161, 208, 1);
rgba(87, 87, 255, 1);
rgba(35, 79, 98, 1);
rgba(115, 207, 232, 1);
rgba(235, 88, 87, 1);
#f28c00;
#632c7a;
#CCECF5;
*/

body {
  font-size: 1.2rem;
  max-width: 440px;
  margin: 0 auto;
}

.title {
  font-family: 'Rosie', 'childline-bold';
  font-size: 3rem;
  margin: 0;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
}

.background-blue {
  background-color: #CCECF5;
}

.background-dark-blue {
  background-color: rgba(35, 79, 98, 1);
}

.text-white {
  color: white;
}

.text-blue {
  color: #0c3d52;
