// fonts
@font-face { font-family: childline; src: url('../fonts/childline/Childline/ChildlineWeb/ChildlineWeb-Regular.otf'); }
@font-face { font-family: childline-bold; src: url('../fonts/childline/Childline/ChildlineWeb/ChildlineWeb-Bold.otf'); }
@font-face { font-family: Rosie; src: url('../fonts/childline/Rosie/rosie-regular-webfont.woff2'); }
//$title-font:

//colours
$purple: #632c7a;
$dark-purple:#2F153A;
$orange:;#F28C00;
$light-blue:rgba(0, 161, 208, 1);
$blue:rgba(35, 79, 98, 1);
$dark-blue:#0c3d52;
$another-blue:rgba(87, 87, 255, 1);
$superlight-blue:#CCECF5;
$greenish-blue:#3EBB98;
$greensih-blue2:rgba(115, 207, 232, 1);
$red:rgba(235, 88, 87, 1);
