@font-face { font-family: childline; src: url('/assets/fonts/ChildlineWeb-Regular.otf'); }
@font-face { font-family: childline-bold; src: url('/assets/fonts/ChildlineWeb-Bold.otf'); }
@font-face { font-family: Rosie; src: url('/assets/fonts/rosie-regular-webfont.woff2'); }


@import './pages/home';
@import './pages/main';
@import './pages/age-check';
@import './pages/url-form';
@import './pages/over-age';
@import './components/modal';
@import './components/footer';
@import './components/header';
@import './components/not-found';
@import './components/page-title';
@import './components/progress-bar';
@import './pages/img-criteria-form';
@import './components/section-title';
@import './components/yoti-share-btn.scss';
@import './components/yoti-description.scss';
