@font-face { font-family: childline; src: url('../../public/fonts/ChildlineWeb/ChildlineWeb-Regular.otf'); }
@font-face { font-family: childline-bold; src: url('../../public/fonts/ChildlineWeb/ChildlineWeb-Bold.otf'); }
@font-face { font-family: Rosie; src: url('../../public/fonts/Rosie/rosie-regular-webfont.woff2'); }


@import './pages/home';
@import './pages/age-check';
@import './pages/content-form';
@import './pages/url-form';
@import './pages/over-age';
@import './pages/main';
@import './components/modal';
@import './components/page-title';
@import './components/progress-bar';
@import './components/yoti-share-btn.scss';
@import './components/yoti-description.scss';
