.page-title {
  font-family: 'Rosie','childline-bold';
  margin: 0;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.section-title {
  font-family: 'Rosie','childline-bold';
  margin: 0;
  font-size: 1.4rem;
  color:$dark-cobalt;
}

.action-button {
  display: flex;
  justify-content: center;
}

@media (min-width: 840px) {
  .width-limit {
    max-width: 800px;
    margin: 1rem auto;
  }
}
