.page-title {
  font-family: 'Rosie','childline-bold';
  margin: 0;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.section-title {
  font-family: 'Rosie','childline-bold';
  margin: 0;
  font-size: 1.4rem;
  color:white;
}

.action-button {
  display: flex;
  justify-content: center;
}
