//Not sure where this part below should go.. but it relates to our Reusable components

.page-title {
  font-family: 'Rosie','childline-bold';
  margin: 0;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.section-title {
  font-family: 'Rosie','childline-bold';
  margin: 0;
  font-size: 1.4rem;
  color:white;
}

.age-info-text {
  margin: 0;
  font-size: 1.2rem;
  padding: 1rem;
}

.action-button {
  display: flex;
  justify-content: center;
}
