@mixin progress ($width:0%) {
    width:$width;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #26a69a;
    transition: width .3s linear;
}


@mixin ageinfo ($background-color) {
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 1rem;
}

@mixin form-container ($background-color){
    max-width: 94%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: $background-color;
}

@mixin content-title ($background-color) {
  background-color: $background-color;
  padding: 4rem 1rem 2.5rem 1rem;
}
