@mixin title-container ($background-color) {
  background-color: $background-color;
  padding: 4rem 1rem 2.5rem 1rem;
  text-align: center;
  min-height: 28vh;
  margin: 0;
}

@mixin content-container ($background-color, $color) {
  margin: 1rem;
  background-color: $background-color;
  color: $color;
  padding: 1rem;
}

@mixin progress ($width:0%) {
  width:$width;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width .3s linear;
}

@mixin form-container ($background-color) {
  max-width: 94%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: $background-color;
}
