@import "./helpers/extends";

@mixin title-container ($background-color) {
  background-color: $background-color;
  padding: 4rem 1rem 2.5rem 1rem;
  text-align: center;
  margin: 0;
}

@mixin content-container ($background-color, $color) {
  margin: 1rem;
  background-color: $background-color;
  color: $color;
  padding: 1rem;
  @extend .width-limit ;
}

// @media (min-width: 1000px) {
//   @mixin content-container {
//     max-width: 800px;
//     margin: 0 auto;
//   }
// }

@mixin progress ($width:0%) {
  width:$width;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width .3s linear;
}
