
// fonts
$title-font:Rosie,childline;
$text-font:childline;
$bold-text:childline-bold;

//colours
$dark-cobalt:#0c3d52;
$cobalt:rgba(35, 79, 98, 1);
$light-cobalt:#0C3D52;

$red:#EB5857;
$light-red:#FBDEDD;

$blue:#00A0CF;
$light-blue:#CCECF5;

$dark-purple:#2F153A;
$purple: #632c7a;
$light-purple: #E8DFEB;

$turquoise:#3EBB98;
$light-turquoise:#D8F1EA;
$lightest-turquoise: #e8f7f2;

$orange:#F28C00;
$light-orange: #FCE8CC;

$another-blue:rgba(87, 87, 255, 1);
$aqua:rgba(115, 207, 232, 1);

$yellow: #FFD618;
$light-yellow:#FFF7D1;
