// fonts
$title-font:Rosie,childline;
$text-font:childline;
$bold-text:childline-bold;

//colours
//Will feel free to raname the colours, I am pretty bad with naming shades in English XD
$plum: #632c7a;
$purple:#2F153A;
$orange:#F28C00;
$light-blue:rgba(0, 161, 208, 1);
$cobalt:rgba(35, 79, 98, 1);
$dark-cobalt:#0c3d52;
$another-blue:rgba(87, 87, 255, 1);
$superlight-blue:#CCECF5;
$turquoise:#3EBB98;
$aqua:rgba(115, 207, 232, 1);
$red:rgba(235, 88, 87, 1);
