@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $footer-color;
  padding: 1rem 3rem;
}

.footer-info {
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.footer-logos {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding: 0.6rem 1.2rem 2rem 1.2rem;
  min-width: 300px;
  .footer-logo-iwf {
    height:5rem;
    min-width: 5rem;
    padding-right: 3rem;
  }
  .footer-logo-childline {
    height:4rem;
    min-width: 4rem;
  }
}


@media (max-width: 840px) {
  .footer {
    padding: 1rem 0.5rem;
  }
  .footer-info {
    width: 100%;
    margin: 0 auto;
    p {
      margin: 0;
      font-size: 1rem;
    }
  }
  .footer-logos {
    margin: 0 auto;
    padding: 0 1rem;
    width: 90%;
  }
}

@media (max-width: 600px) {
  .footer-logos {
    padding: 0;
    .footer-logo-iwf {
      height:4rem;
      min-width: 4rem;
      padding-right: 1rem;
    }
    .footer-logo-childline {
      height:3.5rem;
      min-width: 3.5rem;
      padding-right: 1rem;
    }
  }
}
