@import "./helpers/mixins";

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
}

.determinate33{
  @include progress(33%);
}

.determinate66{
  @include progress(66%);
}

.determinate100{
  @include progress(100%);
}
