@import "./helpers/mixins";

.yoti-info {
  @include content-container($light-blue, $dark-cobalt);
}

@media (min-width: 840px) {
  .yoti-info {
    max-width: 800px;
    margin: 1rem auto;
  }
}

.yoti-description-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}

.yoti-description-title {
  font-family: 'Rosie','childline-bold';
  font-size: 1.4rem;
  margin-top: 0;
}

.yoti-description {
  display: flex;
  flex-direction: row;
  align-items: center;
   img {
    width: 15%;
    height: 2rem;
  }
  p {
    width: 85%;
    margin: 0;
    padding-left: 1rem;
  }

}

.yoti-instructions {
  font-family: $bold-text;
  a {
    text-decoration: underline;
  }
}

.yoti-qr {
  display: flex;
  justify-content: center;
  flex-direction: row;
  img {
    margin-bottom: 1rem;
  }
}
