@import "./helpers/variables";
@import "./helpers/mixins";

.age-title {
    margin: 0;
    background-color:$light-blue;
    padding: 2.5rem 1rem 2.5rem 1rem;
    text-align: center;
    height: 28vh;
}

.determinate{
  @include progress(33%);
}
