@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/extends";

.age-title {
  margin: 0;
  @include title-container($light-blue);
}

.age-info-blue {
  @include content-container($aqua, $dark-cobalt);
}

.age-info-orange {
    @include content-container($orange, $cobalt);
  i {
    padding: 0.6rem;
    color: #ffffff;
  }
}

.scan-me {
  @extend .section-title;
  text-align: center;
  padding: 0;
  img{
    width: 4rem;
    margin-left: 1rem;
  }
}

.yoti-info {
    margin: 1rem;
    background-color: $cobalt;
    box-sizing: border-box;
    padding: 1rem;
    color: white;
    h3{
      margin: 0;
      width: 90%;
      float: left;
    }
}

.yoti-intro{
   img {
    width: 15%;
    height: 2rem;
  }
}
