@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/extends";

.age-info-1 {
  @include content-container($aqua, $dark-cobalt);
  a {
    color:inherit;
  }
}

.age-info-2 {
  @include content-container($orange, $cobalt);
  i {
    padding: 0.6rem;
    color: #ffffff;
  }
  a {
    color:inherit;
  }
}
.yoti-info {
  @include content-container($cobalt, white);

}

.yoti-intro{
  display: flex;
  flex-direction: row;
   img {
    width: 15%;
    height: 2rem;
  }
  h3 {
    width: 85%;
    margin: 0;
  }
}

.yoti-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scan-me {
  @extend .section-title;
  text-align: center;
  padding: 0;
  img{
    width: 4rem;
    margin-left: 1rem;
  }
}
