@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";


.form-container {
  @include form-container($turquoise);
}

.other-options{
  background-color: $orange;
  color: $dark-cobalt;
  padding:1rem;
}
