@import "./helpers/variables";

.content {
  padding-bottom: 1.5rem;
}

.title-div {
  padding: 2.5rem 1rem 2.5rem 1rem;
  margin-bottom: 1rem;
  height: 35vh;
}

.title-div > h2 {
  margin:0;
}

.content-title {
  background-color: #632c7a;
  padding: 4rem 1rem 2.5rem 1rem;
}

.message {
  margin:1rem;
  padding:0.75rem;
  color:rgba(35, 79, 98, 1);
  background-color: #f28c00;
}

.rosie {
  font-family: 'Rosie';
  margin: 0;
  margin-bottom: 1rem;
}

.input-field-2 {
  margin-top: 2.75rem !important;
}

.form-container {
  max-width: 94%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #CCECF5;
}

.content-describe {
  background-color: #3EBB98;
}

.content-describe p {
  font-size: 1.2rem;
  margin: 0;
  color: rgba(35, 79, 98, 1);
  font-family: 'childline-bold';
}

.other-options {
  max-width: 90%;
  margin:0 auto;
  background-color: rgba(35, 79, 98, 1);
  color:white;
  padding:0.75rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.info {
  height:100%;
  max-width: 30%;
  display: inline-block;
  float:left;
}

.info-message {
  padding-left: 1rem;
  max-width: 70%;
  display: inline-block;
  float:right;
}

form {
  padding:0.35rem;
}

label {
  font-size:1.3rem !important;
  width:100%;
  display: inline-block!important;
  white-space: normal;
  word-wrap: break-word !important;
  color: rgba(35, 79, 98, 1)!important;
}

label:after {
  margin-top: 0.2rem;
}

[type="checkbox"].filled-in:checked+label:after {
  background-color: #632c7a;
  border: 2px solid #632c7a;
}


[type="checkbox"]:checked+label:before {
  margin-top: 0.4rem;
}

form >p {
  font-size: 1.5rem;
  background-color: white;
  margin:0.25rem 0;
  padding:0.5rem 1rem;
}

.confirm {
  background-color: #632c7a;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.confirm:hover {
  background-color: #2F153A;
}

.input-field {
    font-size: 1.5rem;
    background-color: white;
    margin:0.25rem 0;
    padding:0.5rem 1rem;
}

#submit-url {
  width: 15rem;
  background-color: #63297A;
  transition: all 0.8s ease;
  display: block;
  margin: 0 auto;
  margin-top:1.5rem;
}

#submit-url:hover {
  background-color: #2F153A
}

#description {
  min-height: 5rem;
  margin-bottom: 0.5rem;
}

#url {
  margin-bottom: 0.5rem;
}

/*OLD styling*/
.title-old-main {
  background-color: #3EBB98;
  padding: 4rem 1rem 2.5rem 1rem;
  margin: 0;
}

.background-pink {
  background-color: #D8F1EA;
  padding: 1rem;
}

.old-title {
  font-family: 'Rosie';
  color:white;
  margin: 0;
}

.old-title-p {
  color: white;
  font-family: 'childline-bold';
  font-size: 1.3rem;
}

.old-info {
  background-color: white;
  box-sizing: border-box;
  color: #fff;
}

.what-now {
  background-color: #D8F1EA;
  margin: 1rem;
  padding: 1rem;
}

.old-info h3 {
  font-family: 'childline-bold';
  font-size: 1.6rem;
  margin: 0;
  width: 90%;
  float:left;
  color:  #63297A;
}

.old-info p {
  padding-top: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #63297A;
}

.identity {
  width: 10%;
  text-align: right;
  color: #63297A;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}

.other-ops {
  position: relative;
  margin: 0 auto;
  background-color: white;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.option1,.option2, .option3 {
  border: 0.2rem solid #3EBB98;
  width: 94%;
  padding:0.45rem;
  margin:0.5rem auto;
  display: flex;
  flex-direction: row;
}

.contact {
  float:left;
  text-align: left !important;
  display: block;
  color: #63297A;
  padding: 0.5rem;
  margin-left: 1rem;
  transition: all 0.5s ease;
  font-family: 'childline-bold';
}

.other-ops a:hover {
  color: #2F153A;
  text-decoration: underline;
}

.contact i {
  position:absolute;
  bottom: 0;
}
