@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";

.home-body {
  background-color: $light-turquoise;
}

.home-header {
  @include title-container($blue);
  padding-bottom: 2rem;
  padding-top: 0rem;
  h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: white;
    margin-bottom: 1rem;
  }
}

.home-header-info {
  width:100%;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
    p {
      color:white;
    }
    a {
      color:white;
    }
}

.home-header-phone {
  a {
    margin-right: 0.5rem;
  }
}

.home-title {
  @extend .page-title;
  margin-bottom: 1rem;
}

.home-info {
  @include content-container($lightest-turquoise, $dark-cobalt);
  a {
    color: #039be5;
    -webkit-tap-highlight-color: transparent;
    &:hover{
      color:orange;
    }
  }
}

.home-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;;
  margin-bottom: 2rem;
  img {
    height:6rem;
    min-width: 6rem;
  }
}

@media (min-width: 840px) {
  .home-logos {
    max-width: 800px;
    margin: 1rem auto;
  }
}
