@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";

.home-header {
  @include title-container($light-blue);
  padding-bottom: 2rem;
  padding-top: 0rem;
  h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: white;
    margin-bottom: 1rem;
  }
}

.home-header-info {
  width:100%;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
    p {
      color:white;
    }
    a {
      color:white;
    }
}

.home-header-phone {
  a {
    margin-right: 0.5rem;
  }
}

.home-title {
  @extend .page-title;
  margin-bottom: 1rem;
}

.home-info {
  @include content-container($cobalt, white);
  a {
    color: #039be5;
    -webkit-tap-highlight-color: transparent;
    &:hover{
      color:orange;
    }
  }
}

.landing-logo{
  float: left;
  min-width: 50%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1rem;
  img{
    height:6rem;
    width:auto;
    margin-bottom: 1rem;
  }
}
