@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";

.home-body {
  background-color: $light-turquoise;
}

.home-header {
  @include title-container($blue);
  padding-bottom: 2rem;
  padding-top: 2rem;
  h3 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1rem;
  }
}

.home-title {
  @extend .page-title;
  margin-bottom: 1rem;
}

.home-info {
  @include content-container($lightest-turquoise, $dark-cobalt);
}

.home-main-button {
  display: flex;
  justify-content: flex-start;
}

.btns-customized{
  padding: 0 !important;
  box-shadow: none !important;
  background-color: inherit !important;
   button{
    line-height: normal !important;
    height:auto !important;
  }
    div  div{
      height: auto !important;
      padding: 0.8rem 0 !important;
      border-radius: 2px;
    }
}
