@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";

.content-describe {
  @include content-container(white, #000);
  font-family: childline;
  margin-top: 0;
  padding-top: 0;
  h2{
    font-family: Rosie;
    color: $blue;
    font-size: 2rem;
    margin:0;
  }
  .bold{
    font-weight: bolder;
  }
}

.form-container {
  @include content-container($light-blue, $dark-cobalt);
}

.other-options {
  @include content-container($yellow, #000);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span {
    margin: auto 0;
  }
  a {
    color: $turquoise;
  }
  i {
    font-size: 4rem;
    padding-right: 1rem;
  }
}
