@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";

body {
  margin: 0 auto;
  font-family: 'childline';
}

p {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: $bold-text;
  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.5;
}

div {
  display: block;
}

#inline-qr-div, #canvas {
  display: none !important;
}

.margin-right {
  margin-right: 1rem;
}

.title-container-blue {
  @include title-container($blue)
}

.title-container-dark-cobalt {
  @include title-container($dark-cobalt)
}

.title-container-purple {
  @include title-container($purple)
}

.title-container-turquoise {
  @include title-container($turquoise);
}
