@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";

.what-now {
  @include content-container($light-turquoise, $dark-cobalt);
  h3 {
    font-family: 'childline-bold';
    font-size: 1.6rem;
    margin: 0;
    width: 90%;
    float: left;
  }
  .identity {
    padding-left: 0.2rem;
    padding-top: 0.2rem;
  }
  p {
    padding-top: 0.5rem;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

.section-title-subheading{
  font-size: 1.2rem;
}
.other-ops {
  @include content-container(white, $dark-cobalt);
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact {
  float: left;
  text-align: left !important;
  display: block;
  color: $dark-cobalt;
  padding: 0.5rem;
  margin-left: 1rem;
  transition: all 0.5s ease;
  font-family: 'childline-bold';
}
.option {
  border: 0.2rem solid $aqua;
  background-color: $footer-color;
  padding: 0.45rem;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  min-width: 300px; /*ugly and leads to optional errors*/
  max-width: 400px;
  i {
    width: 10%;
    text-align: right;
    color: $blue;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
  }
  a {
    float: left;
    text-align: left !important;
    display: block;
    color: $blue;
    padding: 0.5rem;
    margin-left: 1rem;
    transition: all 0.5s ease;
    font-family: 'childline-bold';
  }
}
