@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";

.url-form-description {
  @include content-container($orange, $cobalt);
  h3 {
    color: inherit;
  }
}

.form-container {
  @include content-container($light-blue, $dark-cobalt);
  h3 {
    color: inherit;
  }
}

.input-field {
  width:100%;
  div {
    font-size: 1.1rem !important;
    line-height: 1.1em !important;
  }
}

.input-field-3 {
  width: 100%;
  div {
    width: 250px;
    font-size: 1.1rem !important;
    line-height: 1.1em !important;
  }
}

.buttons {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instruction-list {
  @include content-container(#fff, #000);
  padding: 0;
  ul li {
    margin: 0.25rem 0;
    color:$dark-cobalt;
  }
}

.url-report{
  font-family: $text-font;
  font-size: 1.1rem;
  color: $dark-cobalt;
  margin-bottom: 0;
}
