@import "./helpers/variables";
@import "./helpers/extends";
@import "./helpers/mixins";

.url-form-description {
  @include content-container($orange, $cobalt);
  h3 {
    color: inherit;
  }
}

.form-container {
  @include content-container($light-blue, $dark-cobalt);
  h3 {
    color: inherit;
  }
}

.input-field{
  width:100%;
  div{
    width:100% !important;
  }
}
.buttons{
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
